[submodule "colcon_ws/src/Waf_Ros2_Bridge"]
	path = colcon_ws/src/Waf_Ros2_Bridge
	url = https://github.com/Mines-Paris-Pour-l-Ocean/Waf_Ros2_Bridge
	branch = dev
[submodule "stonefish"]
	path = stonefish
	url = https://github.com/Mines-Paris-Pour-l-Ocean/stonefish
	branch = dev
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/Mines-Paris-Pour-l-Ocean/ardupilot
	branch = ros
[submodule "colcon_ws/src/stonefish_ros2"]
	path = colcon_ws/src/stonefish_ros2
	url = https://github.com/Mines-Paris-Pour-l-Ocean/stonefish_ros2
	branch = dev
[submodule "colcon_ws/src/Ardupilot_Stonefish_parser"]
	path = colcon_ws/src/Ardupilot_Stonefish_parser
	url = https://github.com/Mines-Paris-Pour-l-Ocean/Ardupilot_Stonefish_parser
[submodule "BlueOS"]
	path = BlueOS
	url = https://github.com/Mines-Paris-Pour-l-Ocean/BlueOS
	branch = ros
[submodule "blueos-docker-base"]
	path = blueos-docker-base
	url = https://github.com/Mines-Paris-Pour-l-Ocean/blueos-docker-base
	branch = ubuntu24
[submodule "colcon_ws/src/v4l2ros2"]
	path = colcon_ws/src/v4l2ros2
	url = https://github.com/Mines-Paris-Pour-l-Ocean/v4l2ros2
[submodule "colcon_ws/src/ROS2_UW_Raytracer"]
	path = colcon_ws/src/ROS2_UW_Raytracer
	url = https://github.com/Aymccar/ROS2_UW_Raytracer
[submodule "colcon_ws/src/Anglerfish"]
	path = colcon_ws/src/Anglerfish
	url = https://github.com/Mines-Paris-Pour-l-Ocean/Anglerfish
	branch = dev
[submodule "colcon_ws/src/battery/src/battery_without_charge"]
	path = colcon_ws/src/battery/src/battery_without_charge
	url = https://codeberg.org/Titouan-Drouynot/battery_without_charge
